.red {
    color : red;
}
.blue{
    color : blue;
}
.box{
    border: 1px solid black;
    background-color: pink;
}

/* #btn {
    color : red;
    background-color: green;
} */

.hehe{
    background-color: blue;
    color: white;
}